body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f6fdf8;
  color: #222;
  margin: 0;
  padding: 0;
}
  
  header {
  background: linear-gradient(120deg, #006644, #00b86b);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  flex-wrap: wrap;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  min-height: 100vh;
  width: 100%;
  justify-content: center; 
  flex-direction: column; 
}

  .logo {
  background: none;
  border: none;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

  .botoes {
    display: flex;     
    gap: 15px;         
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #0f4601dc;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0c3a01;
  }

  .meio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;      
    text-align: center;
    gap: 15px;
    padding-top: 185px;               
    padding-left: 20px;
    padding-right: 20px;
  }

  .caixinha {
    background-color: rgba(15, 70, 1, 0.85); /* fundo semi-transparente combinando com header */
    padding: 40px 50px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: white;
    max-width: 600px;
    width: 90%;
  }
  
  .caixinha h1,
  .caixinha h2,
  .caixinha h3 {
    margin: 10px 0;
  }
  
  
  .botoes-principais {
    display: flex;
    justify-content: center;
    gap: 15px;                    
  }
  
  .meio button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0f4601dc;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .meio button:hover {
    background-color: #0c3a01;
  }

  footer {
    background: linear-gradient(120deg, #006644, #00b86b);
    color: white;
    text-align: center;
    padding: 15px 8px;             
    position: fixed;              
    bottom: 0;                    
    width: 100%;                 
    font-size: 16px;
    letter-spacing: 1px;
  }

  