body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url('');
    background-size: cover;  /* Faz a imagem cobrir toda a tela */
    background-position: center;  /* Centraliza a imagem */
    background-attachment: fixed;  /* A imagem fica fixa quando rolar a página */
  }
  
  header {
    background-color: #f572cedc;
    color: white;
    text-align: left;
    padding: 2px;
  }
  
  main {
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1 {
    margin: 5px;
    margin-bottom: 5px;
    font-size: 70px;
    text-align: center;
    padding-top: 200px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  h2 {
    margin: 5px;
    margin-bottom: 5px;
    font-size: 40px;
    text-align: center;
    padding-top: 150x;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select, button {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  .container {
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 30vh; /* Faz o container ocupar 100% da altura do body */
    display: flex; 
    gap: 20px; /* Espaço entre os botões */
  }
  
  
  button {
    background-color: #f572cedc;
    color: white;
    font-family: monospace;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px; 
    margin-right: 90px;
    padding: 10px 20px; 
    border: none; 
    text-align: center;
  }
  
  button:hover {
    background-color: #f572ce65;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #f572cedc;
    color: white;
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }